* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  color: blue;
}

.addText {
  font-size: 1.5rem;
  font-weight: 700;
}

.mb-3 {
  padding: 0 1rem;

}